<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" href="http://localhost:5000/css/all.css">
    <link rel="stylesheet" href="http://localhost:5000/css/home.css">
</head>
<body>
    <div class="box">
        <div id="left">
            <h2>Hello, soldier!</h1>
            <div id="profile">
                <div id="avatar">

                </div>
                <div id="info">
                    <div id="nickname">nickname</div>
                    <div id="mmr">mmr <span id="mmr-value"></span></div>
                    <div id="winstreak">winstreak <span id="winstreak-value"></span></div>
                </div>
            </div>
            <div id="play">
                <div class="label">We need you!</div>
                <p>You missed a lot! In this time, many bad things happened. Your current mission is to help our team and gain as much MMR as you can. You can do this by playing this awesome game and attack some mother fuckers planes!</p>
                <div class="button">PLAY!</div>
            </div>
        </div>
        <div id="right">
            <h2>Leaderboard</h1>
            <div class="player">
                <span id="first" class="pos">1</span>
                <span id="nickname1">nickname</span>
                <span id="mmr1">mmr</span>
            </div>
            <div class="player">
                <span id="second" class="pos">2</span>
                <span id="nickname2">nickname</span>
                <span id="mmr2">mmr</span>                    
            </div>
            <div class="player">
                <span id="third" class="pos">3</span>
                <span id="nickname3">nickname</span>
                <span id="mmr3">mmr</span>                    
            </div>
            <div class="player">
                <span id="fourth" class="pos">4</span>
                <span id="nickname4">nickname</span>
                <span id="mmr4">mmr</span>
            </div>
            <div class="player">
                <span id="fifth" class="pos">5</span>
                <span id="nickname5">nickname</span>
                <span id="mmr5">mmr</span>
            </div>
        </div>
    </div>
    <script type="module" src="http://localhost:5000/javascript/scripts/home.js"></script>
</body>
</html>