<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTER</title>
    <link rel="stylesheet" href="http://localhost:5000/css/all.css">
    <link rel="stylesheet" href="http://localhost:5000/css/register.css">
</head>
<body>
        <div class="title">
                PLANES WAR
            </div>
            <div class="box">
                <div class="choose">
                    <div id="auth">
                        AUTHENTICATE
                    </div>
                    <div id="register">
                        REGISTER
                    </div>
                </div>
                <input id="email-input" placeholder="Email">
                <input id="nickname-input" placeholder="Nickname">
                <input type="password" id="password-input" placeholder="Password">
                <input type="password" id="confirm-password-input" placeholder="Confirm Password">
                <div class="button">CREATE ACCOUNT</div>
            </div>
            <div class="message"></div>

    <script type="module" src="http://localhost:5000/javascript/scripts/register.js"></script>
</body>
</html>